body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.container {
    text-align: center;
}

#timer-display {
    padding-bottom: 30px;
}