body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.container {
    text-align: center;
}

#timer-display {
    margin: 20px 0;
    font-size: 48px;
}

#buttons button {
    font-size: 15px;
    margin: 20px 7px;
    padding: 10px 20px;
}

#session-count {
    margin-top: 10px;
}

#light-theme {
    background-color: white;
    color: black;
}

#dark-theme {
    background-color: black;
    color
}